<html>
    <head>
        <meta charset="UTF-8">
        <title>Javascript Test Framework</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine.min.js">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="./css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container py-3">
            <header>
                <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-itmes-center text-dark text-decoration-none">
                        <img src="./imgs/Hexet1.svg" width="40" height="40" class="me-2" viewBox="0 0 118 94" role="img">
                        <span class="fs-4">Conference Application</span>
                    </a>
                    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Speakers</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Past Sessions</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Upcoming Conferences</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Emerging Tech</a>
                    </nav>
                </div>
            </header>
            <main>
                <div class="px-4 py-5 text-center">
                    <img src="./imgs/Hexet1.svg" alt="Provar Icon" width="52" height="mx-auto">
                    <hr class="line">
                    <br>
                    <h1 class="display-5 fw-bold">Authorizing...</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae earum at esse illo reprehenderit inventore quos sit. Impedit modi, ab ipsa, aspernatur vel error accusantium ipsam culpa repellat esse laborum!
                        </p>
                    </div>
                </div>
            </main>
        </div>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine-html.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/boot.js"></script> -->
    </body>
</html>